body{
font-size: 16px;
line-height: 22px;
font-weight: regular;
color: #ffffff;
font-family: 'Roboto', Arial, sans-serif;
min-width: 1200px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
 background: url("../img/background-1-1200x2416.png") no-repeat center top;
}
h1{
font-size: 60px;
line-height: 60.35px;
font-weight: bold;

}
.slider h1{
  text-align: center;
}
h2{
font-size: 35px;
line-height: 41px;
font-weight: bold;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.content-left{
  width: 560px;
float:left;
}
.content-right{
  width: 560px;
float:right;;
}
.header-logo{
  width: 154px;
  float:left;
  margin-right: 26px;
}
.main-navigation{
  width: 360px;
  float: left;
}
.main-navigation ul {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  margin-top: 23px;

}
.main-navigation a{
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: underline;
}
.main-navigation a:hover {
  display: block;
  padding: 8px 10px;
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
  text-decoration: none;
}
.search{
  position: relative;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 298px;
  margin-right: 10px;
  margin-top: 23px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.search::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url("../img/search17x17.png") no-repeat;
}
.search:hover{
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
}
.search-header{
  display: none;
}
.search:hover::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url("../img/searchc17x17.png") no-repeat;
}
.user-block{
  max-width: 92px;
  float:left;
  margin-right: 10px;
  margin-top: 23px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.login{
  position: relative;
  display: inline-block;
  margin-top: 2px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color:#ffffff;
  text-decoration: none;
}
.login:hover{
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
}
.login::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/login21x19.png") no-repeat;
}
.login:hover::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/loginc21x19.png") no-repeat;
}
.basket-block{
  width: 118px;
  float:left;
  margin-right: 0px;
  margin-top: 23px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.basket{
  position: relative;
  display: inline-block;
  margin-top: 2px;
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color:#ffffff;
  text-decoration: none;
}
.basket::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/basket21x20.png") no-repeat;
}
.schedule{
  float: right;
  margin-left: 300px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.number{
  float: right;
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.breadcrumbs{
  width: 267px;
  float: left;
  margin: 0;
  margin-top: 24px;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs li{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: text-bottom;
}
.breadcrumbs a{
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: underline;
}
.breadcrumbs li:last-child{
  padding-bottom: 8px;
}
.content{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 40px;
}
.catalog-item-ribbon{
  display: inline-block;
  width: 267px;
  min-height: 321px;
  vertical-align: top;
  margin-right: 26px;
  font-size: 16px;
}
.catalog{
  font-size: 0px;
  margin-bottom: 40px;
}
.catalog-item-ribbon:nth-child(n+4) {
  margin-right: 0;
}
.advantages-list{
  padding-left: 0px;
}
.advantages{
  margin: 0 auto;
  margin-bottom: 40px;
}
.row{
  margin: 0 auto;
  margin-bottom: 40px;
}
.map{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-left: 0px;
}
.foto{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto
}
.contacts{
  width: 304px;
  float: right;
  margin-right: 27px;
}
.footer-social{
  width: 293px;
  float: left;
  margin-right: 20px;
}
.footer-info{
  width: 520px;
  float: left;
  margin-right: 20px;
}
.footer-copyright{
  width: 293px;
  float: left;
  margin-right: 0px;
}
.sorting{
  width: 193px;
  float: left;
  margin-right: 17px;
}
.price{
  width: 219px;
  float: left;
  margin-right: 17px;
}
.fatness{
  width: 415px;
  float: left;
  margin-right: 17px;
}
.filters{
  width: 860px;
  float: left;
  margin-right: 17px;
}
.catalog-product{
  font-size: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.catalog-item{
display: inline-block;
width: 267px;
min-height: 321px;
vertical-align: top;
margin-right: 26px;
font-size: 16px;
}
.catalog-item:nth-child(4n+4) {
  margin-right: 0;
}
.pagination{
  display: inline-block;
  width: 25px;
  min-height: 25px;
  vertical-align: top;
  margin-right: 5px;
  font-size: 16px;
}
.advantages-item{
  display: inline-block;
  width: 560px;
  min-height: 90px;
  vertical-align: top;
  margin-right: 26px;
  font-size: 16px;
}
.advantages-item:nth-child(even) {
  margin-right: 0;
}
.advantages-list{
  font-size: 0px;
}
