body{
font-size: 16px;
line-height: 22px;
font-weight: regular;
color: #ffffff;
font-family: 'Roboto', Arial, sans-serif;
min-width: 1200px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
 background: url("../img/background-1-1200x2416.png") repeat center top;
}
h1{

font-size: 60px;
line-height: 60.35px;
font-weight: bold;
}
.promo h1{
  width: 700px;
  margin-top: 240px;
  margin-right: auto;
  margin-left: auto;
}
h2{
font-size: 35px;
line-height: 41px;
font-weight: bold;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.content-left{
  width: 560px;
float:left;
}
.content-right{
  width: 560px;
float:right;;
}
.header-logo{
  width: 154px;
  float:left;
  margin-right: 26px;
}
.main-navigation{
  width: 360px;
  float: left;
}
.main-navigation ul {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  margin-top: 23px;

}
.main-navigation a{
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: underline;
}
.main-navigation a:hover {
  display: block;
  padding: 8px 10px;
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
  text-decoration: none;
}
.search{
  position: relative;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 298px;
  margin-right: 10px;
  margin-top: 23px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.search::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url("../img/search17x17.png") no-repeat;
}
.search:hover{
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
}
.search-header{
  display: none;
}
.search:hover::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 7px;
  background: url("../img/searchc17x17.png") no-repeat;
}
.user-block{
  max-width: 92px;
  float:left;
  margin-right: 10px;
  margin-top: 23px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.login{
  position: relative;
  display: inline-block;
  margin-top: 2px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color:#ffffff;
  text-decoration: none;
}
.login:hover{
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
}
.login::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/login21x19.png") no-repeat;
}
.login:hover::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/loginc21x19.png") no-repeat;
}
.basket-block{
  width: 118px;
  float:left;
  margin-right: 0px;
  margin-top: 23px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.basket{
  position: relative;
  display: inline-block;
  margin-top: 2px;
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color:#ffffff;
  text-decoration: none;
}
.basket::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url("../img/basket21x20.png") no-repeat;
}
.tel{
  float: right;
  text-align: right;
}
.schedule{
  margin-left: 300px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.number{
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.breadcrumbs{
  width: 267px;
  float: left;
  margin: 0;
  margin-top: 16px;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs li{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: text-bottom;
}
.breadcrumbs a{
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-decoration: underline;
}
.breadcrumbs li:last-child{
  padding-bottom: 8px;
}
/*.shop-header .container{
    position: relative;
    z-index: 3;
}*/
.slider{
min-height: 234px;
width: 1146px;
margin: 0 auto;
padding: 0 27px;
}
/*.slider::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 82px;
  width: 1037px;
  height: 877px;
  background: url("../img/ice-cream1-1037x877.jpg") no-repeat center;
}*/
/*.promo{
  position: relative;
}*/
.btn-slider{
  display: inline-block;;
  color: #ffffff;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
/*  position: absolute;
  left: 434px;
  top: 167px;*/
  width: 198px;
  height: 45px;
  border-radius: 40px;
  margin-right: auto;
  margin-left: 434px;
  padding: 10px 40px;
}
.content{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 40px;
  /*position: relative;*/
}
.content .content-left{
    background: url("../img/raspberrybackground560x229.jpg") no-repeat center;
    border-radius: 20px;
}
.content .content-right{
  background: url("../img/chocolatebackground560x229.jpg") no-repeat center;
  border-radius: 20px;
}
.shares-description{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 20px;
}
.shares-title{
  margin-left: 20px;
}
.btn-shares{
  display: inline-block;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
/*  position: absolute;
  right: : 22px;
  bottom: : 22px;*/
  width: 165px;
  height: 26px;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 22px;
  margin-bottom: 22px;
  margin-left: 373px;
}
.catalog-item-ribbon{
  display: inline-block;
  width: 267px;
  min-height: 321px;
  vertical-align: top;
  margin-right: 26px;
  font-size: 16px;
  position: relative;
}
.catalog{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  font-size: 0px;
  margin-bottom: 40px;
}
.catalog-item-ribbon:nth-child(n+4) {
  margin-right: 0;
}
.catalog img{
  border-radius: 50%;
}
.catalog-product img{
  border-radius: 50%;
}
.catalog-item-ribbon a{
  display: block;
  padding: 2px 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  text-align: center;
  text-decoration: underline;
}
.catalog-item a{
  display: block;
  padding: 2px 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  text-align: center;
  text-decoration: underline;
}
.catalog-item-ribbon b{
  display: block;
  position: absolute;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;;
  left: 0px;
  bottom: 78px;
  text-decoration: none;;
}
.catalog-item b{
  display: block;
  position: absolute;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;;
  left: 0px;
  bottom: 78px;
  text-decoration: none;;
}
.catalog-item-ribbon a::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 611px;
  height: 61px;
  background: url("../img/top61x61.png") no-repeat;
  border-radius: 10px;
}
.catalog-item a::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background: url("../img/top61x61.png") no-repeat;
  border-radius: 10px;
}
.advantages-list{
  margin: 0;
  margin-left: 20px;
  padding-left: 0px;
}
.advantages{
  width: 1146px;
  margin: 0 27px;
  padding: 0;
  margin-bottom: 40px;
  background: url("../img/background-4-734x433.png") repeat;
  color: #323232;
  border-radius: 25px;
  padding-top: 13px;
  position: relative;

}
.advantages-title{
  font-size: 24px;
  line-height: 30px;
  font-weight: medium;
  margin-right: 100px;
  margin-left: 20px;
}
.advantages-item{
  margin: 0;
}
.advantages-description{
  margin-left: 54px;
  display:inline-block;
}
.advantages-title::before{
  content: "";
  position: absolute;
  top: 117px;
  left: 20px;
  width: 49px;
  height: 49px;
  background: url("../img/icecream49x49.png") no-repeat;
  border-radius: 10px;
}
.advantages-title::after{
  content: "";
  position: absolute;
  bottom: 70px;
  left: 20px;
  width: 49px;
  height: 49px;
  background: url("../img/leaflet49x49.png") no-repeat;
  border-radius: 10px;
}
.advantages-list::before{
  content: "";
  position: absolute;
  top: 117px;
  left: 585px;
  width: 49px;
  height: 49px;
  background: url("../img/cow49x49.png") no-repeat;
  border-radius: 10px;
}
.advantages-list::after{
  content: "";
  position: absolute;
  bottom: 70px;
  left: 585px;
  width: 49px;
  height: 49px;
  background: url("../img/thermometer49x49.png") no-repeat;
  border-radius: 10px;
}

.row{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 40px;
}
.news{
  background: url("../img/strawberrybackground560x220.jpg") no-repeat center;
  border-radius: 20px;
  padding-top: 28px;
  padding-bottom: 40px;
}
h4{
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.btn-news{
  display: block;
  padding: 2px 0px;
  margin-right: 240px;
  margin-left: 20px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;;
  text-align: left;
  text-decoration: underline;
}
/*.row .content-right{
 background: url("../img/trim.jpg") repeat ;
 height: 220px;
 margin:0px;
 border-radius: 20px;
}*/
.subscription{
  background: url("../img/trim.jpg") repeat ;
  background: #f8f7f4;
  background-size: 550px 210px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: regular;
  color: #323232;
}
.map{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-left: 0px;
}
.foto{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto
}
.contacts{
  width: 304px;
  float: right;
  margin-right: 27px;
}
.footer-social{
  width: 293px;
  float: left;
  margin-right: 20px;
}
.footer-info{
  width: 520px;
  float: left;
  margin-right: 20px;
}
.footer-copyright{
  width: 293px;
  float: left;
  margin-right: 0px;
}
.sorting{
  width: 193px;
  float: left;
  margin-right: 17px;
}
.price{
  width: 219px;
  float: left;
  margin-right: 17px;
}
.fatness{
  width: 415px;
  float: left;
  margin-right: 17px;
}
.filters{
  width: 860px;
  float: left;
  margin-right: 17px;
}
.catalog-product{
  font-size: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.catalog-item{
display: inline-block;
width: 267px;
min-height: 321px;
vertical-align: top;
margin-right: 26px;
font-size: 16px;
position: relative;
}
.catalog-item:nth-child(4n+4) {
  margin-right: 0;
}
.pagination{
  display: inline-block;
  width: 25px;
  min-height: 25px;
  vertical-align: top;
  margin-right: 5px;
  font-size: 16px;
}
.advantages-item{
  display: inline-block;
  width: 540px;
  min-height: 90px;
  vertical-align: top;
  margin-right: 26px;
  font-size: 16px;
}
.advantages-item:nth-child(even) {
  margin-right: 0;
}
.advantages-list{
  font-size: 0px;
}
