body{
font-size: 16px;
line-height: 22px;
font-weight: regular;
color: #ffffff;
font-family: Roboto, Arial, sans-serif;
min-width: 1122px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
 background: grey;
}
h1{
font-size: 60px;
line-height: 60.35px;
font-weight: bold;
}
h2{
font-size: 35px;
line-height: 41px;
font-weight: bold;
}
 .shop-header{
   display: flex;
   width: 1146px;
   margin: auto;
   padding-left: 27px;
   padding-right: 27px;
   justify-content: space-between;
}
.content-left-header{
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.content-right-header{
  width: 560px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  }
  .header-logo{
    width: 154px;
    margin-right: 26px;
  }
  .main-navigation{
    width: 360px;
    margin-right: 20px;
  }
  .list-navigation{
    display: flex;
     justify-content: space-between;
   }
   .breadcrumbs{
     display: flex;
     width: 260px;
      justify-content: space-between;
   }
  .search{
    width: 33px;
    margin-left: 298px;
    margin-right: 10px;
  }
  .user-block{
    width: 92px;
    margin-right: 10px;
  }
  .basket{
    width: 117px;
    margin-right: 0px;
  }
  .schedule{
    width: 262px;
   margin-right: 0px;
   margin-bottom: 5px;
   margin-left: 298px;
   text-align: right;
  }
  .number{
  width: 262px;
  margin-left: 298px;
  margin-right: 0px;
  text-align: right;
  }
.container{
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}
.content{
  display: flex;
  justify-content:space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-left{
  width: 560px;
}
.content-right{
  width: 560px;
}
.catalog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.catalog-item-ribbon{
  width: 267px;
}
.advantages{
  margin-bottom: 40px;
}
.advantages-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.advantages-item{
  width: 560px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-footer{
  display: flex;
  width: 1146px;
  margin: auto;
  margin-top: 20px;
  padding-left: 27px;
  padding-right: 27px;
  justify-content: space-between;
}
.footer-social{
  width: 293px;
}
.footer-info{
  width: 520px;
}
.footer-copyright{
  width: 293px;
}
.info-list{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 80px;
}
 .info-list li{
   padding-left: 20px;
   padding-right: 10px;
 }
.info-list li:nth-child(2) {
   order: 3
 }
 .info-list li:nth-child(4) {
   order: 4
 }
 .foto-footer{
   margin-left: 103px;
 }
 .filter-form{
   display: flex;
   width: 860px;
   flex-wrap: wrap;
   margin-bottom: 40px;
 }
 .sorting{
   width: 190px;
   padding-right: 0px;
   padding-left: 0px;
 }
 .price{
   width: 216px;
   padding-right: 0px;
   padding-left: 0px;
 }
 .fatness{
   width: 412px;
   padding-right: 0px;
   padding-left: 0px;
 }
 .filters{
   width: 700px;
   padding-right: 0px;
   padding-left: 0px;
   margin-right: 16px;
 }
 .catalog-all{
    margin-bottom: 30px;
 }
 .catalog-product{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 80px;
 }
 .catalog-item{
   width: 267px;
 }
 .product-pagination{
   padding-left: 905px;
 }
 .pagination{
   display: flex;
   width: 190px;
   justify-content: space-around;;
   padding-right: 0px;
   margin-left: 0px;
  margin-right: 0px;
 }
