body{
font-size: 16px;
line-height: 22px;
font-weight: regular;
color: #ffffff;
font-family: Roboto, Arial, sans-serif;
min-width: 1122px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
 background: grey;
}
h1{
font-size: 60px;
line-height: 60.35px;
font-weight: bold;
}
h2{
font-size: 35px;
line-height: 41px;
font-weight: bold;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.content-left{
  width: 560px;
float:left;
}
.content-right{
  width: 560px;
float:right;;
}
